
    <h2>Estos son los <%= title %> de esta página</h2>
    <div id="alvaro">
      <p>Álvaro López San Millán</p>
      <img src="/images/foto_alvaro.png" width="160">
    </div>
    <div id="marta">
      <p>Marta Ferreras Mayo</p>
      <img src="/images/foto_marta.JPG" width="320">
    </div>