<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>¡ El portal donde podrá crear sus propios juegos !</p>
    <p><a href="/quizes/question">Comience a jugar</a></p>
    <p><a href="/authors">Autores</a></p>
  </body>
</html>
