* {
	margin: 0;
	padding: 0;
}

body{
	font: 150% Calibri, Sans-Serif;
}

#page-wrap {
	margin: 2% auto;
	color: lightyellow;
}

#page-wrap > .main {
	border: 3px double lightgreen;
	padding-left:1%;
	margin-bottom: 1px;
	color: black;
	text-align: center;
}

section > div {
	padding: 20px;
	color: #052;
}

nav span {
	margin: 0px 10px 10px 0px;
}

#ErrorMsgs {
	color: #F61;
	font-size: smaller;
}

h1 {
	text-decoration:underline;
	font-style: italic;
	font-size:6vw;
	padding-top:20px;
	color:#052;
}

h2 {
	color:#052;
}

#marta, #alvaro {
  	display: inline;
    float:left;
    margin:2%;
    padding:2%;
	max-width:38%;
}

#marta {
    float:right;
}

.clear{
	clear:both;
}

a{
	text-decoration:none;
	color:#00B7FF;
}

a:hover{
	background-color:#093;
	color:#FFF;
}

header, nav, section, footer {
	background-color:lightyellow;
}

.right {
	float: right;
}

.quiz_img {
	height: 150px;
	float: left;
}