<!DOCTYPE html>
<html>
  <head>
    <title>QUIZ</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>

    <p style="font-size:10vw;"><%= respuesta %></p>

    <a href="/quizes/question">Intentelo otra vez</a>
  
  </body>
</html>