<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QUIZ</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' />
  </head>
  <body>
    <h2>Quiz: el juego de las preguntas</h2>

    <p><%= respuesta %></p>

    <p><a href="/quizes/question">Inténtelo otra vez</a></p>
   
    <p><a href="/">Página principal</a></p>

  </body>
</html>